<?php

return [
    'default' => [
        'driver' => 'mysql',
        'database' => 'skillcheck',
        'host' => 'localhost',
        'username' => 'skillcheck',
        'password' => '********',
        'charset' => 'utf8mb4',
    ],
];
