<?php

return [
    'auth' => [
        'user_inquiry' => [
            'Host' => 'host',
            'Username' => 'username',
            'Password' => '********',
            'Port' => 465 or 587,
            'SMTPSecure' => 'ssl or tls',
        ],

        'admin_inquiry' => [
            'Host' => 'host',
            'Username' => 'username',
            'Password' => '********',
            'Port' => 465 or 587,
            'SMTPSecure' => 'ssl or tls',
        ],
    ],

    'header' => [
        'user_inquiry' => [
            'From' => 'from@example.com',
            'ReplyTo' => 'reply_to@example.com',
            'Charset' => 'UTF-8',
            'Subject' => '[テストメール(ユーザー)]お問い合わせありがとうございます。',
        ],

        'admin_inquiry' => [
            'To' => 'to@example.com',
            'From' => 'from@example.com',
            'ReplyTo' => 'reply_to@example.com',
            'Charset' => 'UTF-8',
            'Subject' => '[テストメール(管理者)]お問い合わせを受け付けました。',
        ],
    ],

];
